
<div class="apply-search">
  <div class="search-info div-c">
            <a ng-href="#/"><span>
                <img src="assets/images/back-icon.png" alt="">
                <span class="blue-txt">返回</span>
            </span>
            </a>
            <span>
                <span class="gray-txt">共找到</span>
                <span class="red-txt">{{searchResult.length ? searchResult.length : 0 }}</span>
                <span class="gray-txt">条相关信息</span>
            </span>
  </div>
  <div class="div-c apply">
    <div class="apply-search-top">
      <div class="apply3-list" ng-repeat="list in searchResult">
        <a ng-href="#/applycontent/{{list.id}}/"><img ng-src="{{list.image}}" alt="" class="apply-img"></a>
        <div class="apply3-list-bottom">
          <div class="apply-list-tit">
            <a ng-href="#/applycontent/{{list.id}}/" class="fl">{{list.name}}</a>
            <div class="style fr">
              <img ng-repeat="platforms in list.app_platforms" ng-src="{{platforms.platform.icon}}" alt="">
            </div>
          </div>
          <div class="apply-list-con">
            <div class="apply-list-tip">
              {{list.max_version.summary}}
            </div>
            <div class="star">
              <div class="star-part fl">
                <span ng-style="{'width':'{{list.avg_score * 20}}'+'%'}" class="star-on"></span>
                <span class="star-off"></span>
              </div>
              <div class="star-score fr">{{list.avg_score}}分</div>
            </div>
          </div>
          <div class="apply-list-download">
            <button>下载</button>
          </div>
        </div>
      </div>


      <!-- 分页部分 -->
      <div class="fenye">
        <div class="fl">
          <pagination style="margin: 3px 0;" total-items="bigTotalItems" ng-model="bigCurrentPage" max-size="maxSize" class="pagination-sm"
                      boundary-links="true" rotate="false" num-pages="numPages" ng-change="pageChanged()"></pagination>
        </div>
        <div class="topage" style="line-height: 34px;;">
          共{{bigTotalItems}}页,到第
                            <span class="topage-span">
                               <select style="width: 50px;height: 20px;display: inline-block;" class="form-control" ng-model="key" ng-options="o for o in totalItemArr"></select>
                            </span>
          页
          <button class="make-sure" style="line-height: 21px;" ng-click="Jump(1)">确定</button>
        </div>
      </div>
      <!-- 分页部分 -->
    </div>

  </div>
</div>
