<!-- 主体页面开始 -->
<div class="apply-search">
  <div class="div-c apply">
    <div class="apply-search-top">
      <div class="apply3-list" ng-repeat="res in searchResult">
        <a ng-href="#/applycontent/{{res.id}}/"><img ng-src="{{res.img}}" alt="" class="apply-img"></a>
        <div class="apply3-list-bottom">
          <div class="apply-list-tit"><a ng-href="#/applycontent/{{res.id}}/">{{res.name}}</a></div>
          <div class="apply-list-con">
            <div class="star fl">
              <div class="star-part">
                <span ng-style="{'width':'{{findOne.star_live * 20}}'+'%'}" class="star-on"></span>
                <span class="star-off"></span>
              </div>
            </div>
            <div class="style fr">
              <img ng-repeat="platForm in res.plat_form" ng-show="platForm == 'windows'" src="assets/images/style4.png" alt=""  >
              <img ng-repeat="platForm in res.plat_form" ng-show="platForm == 'iphone'" src="assets/images/style2.png" alt=""  >
              <img ng-repeat="platForm in res.plat_form" ng-show="platForm == 'android'" src="assets/images/style1.png" alt=""  >
              <img ng-repeat="platForm in res.plat_form" ng-show="platForm == 'Linux'" src="assets/images/style3.png" alt=""  >
            </div>
          </div>
        </div>
      </div>
      <div ng-show="!searchResult.length" class="text-center" style="padding: 40px;">
        无搜索结果
      </div>
    </div>
    <div class="apply3-l-bottom apply-search-bottom">
      <div class="apply3-lb-tit">
        <div class="fl">相关应用</div>
      </div>
      <div class="apply3-lb-con">
        <div ng-repeat="res in searchResult">
        <div class="apply3-list-new" ng-repeat="relevant in res.relevantApply">
            <div class="apply3-new-img"><a ng-href="#/applycontent/{{relevant.id}}/"><img ng-src="{{relevant.img}}" alt=""></a></div>
            <div class="apply3-new-txt1"><a ng-href="#/applycontent/{{relevant.id}}/">{{relevant.txt1}}</a></div>
            <div class="apply3-new-txt2"><a ng-href="#/applycontent/{{relevant.id}}/">{{relevant.txt2}}</a></div>
            <div class="apply3-new-style">
              <img ng-repeat="platForm in relevant.plat_form" ng-show="platForm == 'windows'" src="assets/images/style4.png" alt=""  >
              <img ng-repeat="platForm in relevant.plat_form" ng-show="platForm == 'iphone'" src="assets/images/style2.png" alt=""  >
              <img ng-repeat="platForm in relevant.plat_form" ng-show="platForm == 'android'" src="assets/images/style1.png" alt=""  >
              <img ng-repeat="platForm in relevant.plat_form" ng-show="platForm == 'Linux'" src="assets/images/style3.png" alt=""  >
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 主体页面结束 -->

