
<div class="apply-search">
  <div class="search-info div-c">
            <a ng-href="#/"><span>
                <img src="assets/images/back-icon.png" alt="">
                <span class="blue-txt">返回</span>
            </span>
            </a>
            <span>
                <span class="gray-txt">共找到</span>
                <span class="red-txt">{{searchResult.length ? searchResult.length : 0 }}</span>
                <span class="gray-txt">条相关信息</span>
            </span>
  </div>
  <div class="div-c apply">
    <div class="apply-search-top">
      <div class="apply3-list" ng-repeat="list in searchResult">
        <a ng-href="#/applycontent/{{list.id}}/"><img ng-src="{{list.image}}" alt="" class="apply-img"></a>
        <div class="apply3-list-bottom">
          <div class="apply-list-tit">
            <a ng-href="#/applycontent/{{list.id}}/" class="fl">{{list.name}}</a>
            <div class="style fr">
              <img ng-repeat="platforms in list.app_platforms" ng-src="{{platforms.platform.icon}}" alt="">
            </div>
          </div>
          <div class="apply-list-con">
            <div class="apply-list-tip">
              {{list.max_version.summary}}
            </div>
            <div class="star">
              <div class="star-part fl">
                <span ng-style="{'width':'{{list.avg_score * 20}}'+'%'}" class="star-on"></span>
                <span class="star-off"></span>
              </div>
              <div class="star-score fr">{{list.avg_score}}分</div>
            </div>
          </div>
          <div class="apply-list-download">
            <button>下载</button>
          </div>
        </div>
      </div>


      <!-- 分页部分 -->
      <div class="fenye">
        <ul class="page">
          <li class="first-page"><a href="javascript:void(0);"><img src="assets/images/arrow-left.png" alt="">上一页</a></li>
          <li><a href="javascript:void(0);">1</a></li>
          <li><a href="javascript:void(0);">2</a></li>
          <li><a href="javascript:void(0);">3</a></li>
          <li><a href="javascript:void(0);">4</a></li>
          <li><a href="javascript:void(0);">5</a></li>
          <li class="page-dot">...</li>
          <li class="last-page"><a href="javascript:void(0);">下一页<img src="assets/images/arrow-right.png" alt=""></a></li>
        </ul>
        <div class="topage">
          共100页，到第
                            <span class="topage-span">
                                <input type="text" value="1">
                                <img src="assets/images/up.png" alt="" class="up">
                                <img src="assets/images/down.png" alt="" class="down">
                            </span>
          页
          <button class="make-sure">确定</button>
        </div>
      </div>
      <!-- 分页部分 -->
    </div>

  </div>
</div>
