@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  word-break: break-all;
  opacity: 1 \0
}

body {
  color: #2D374B;
  font: 14px "Simhei", sans-serif;
  min-width: 964px;
  resize: none;
}

input, button, textarea {
  outline: 0;
}

div, h1, h2, h3, h4, h5, h6, body, p, span, button, ul, li, img, input {
  padding: 0px;
  margin: 0px;
  border: 0px
}

article, aside, dialog, footer, header, section, nav, figure, menu {
  display: block
}

a {
  text-decoration: none;
  color: #2D374B;
}

a:hover {
  text-decoration: underline;
}

button a {
  display: block;
  color: #fff;
}

button a:hover {
  text-decoration: none
}

ul, li {
  list-style: none;
}

img {
  border: none;
  vertical-align: middle;
}

button {
  border: 0px;
  cursor: pointer;
  font-family: Simhei
}

input {
  font-family: Simhei
}

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.fc {
  clear: both;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.txtff4400 {
  color: #ff4400
}

/*头尾css开始*/
.header {
  border-bottom: 1px solid #D8D8D8;
}

.header-top {
  background: #F5F5F5;
  height: 40px;
  line-height: 40px;
}

.head-r {
  width: 223px;
}

.head-r a:hover {
  text-decoration: none
}

.head-r div {
  margin-left: 20px;
}

.header-bottom {
  height: 157px;
}

.header-bottom .logo {
  padding-top: 40px;
}

.head-bl {
  padding-right: 230px;
}

.head-br input {
  width: 617px;
  height: 34px;
  border: 3px solid #0065D0;
  background: url(../assets/images/search2.png) no-repeat;
  background-position: 10px center;
  padding-left: 32px;
}

.head-br ul {
  cursor: pointer;
  overflow: hidden;
  margin-top: 38px;
}

.head-br li {
  float: left;
  padding: 0px 8px;
  line-height: 24px;
  font-size: 15px;
  color: #999999;
}

.li-now {
  background: #0065D0;
  color: #fff !important
}

.search {
  width: 723px;
  position: relative;
}

.search button {
  font-size: 24px;
  color: #fff;
  font-weight: bold;
  height: 40px;
  background: #0065D0;
  position: absolute;
  right: 0;
  width: 100px;
  color: #fff;
  position: absolute;
}

.div-c {
  width: 1200px;
  margin: 0 auto;
}

.imm-registe {
  padding-left: 24px;
}

/*banner*/
.g-banner {
  overflow: hidden;
  height: 400px;
  position: relative;
}

.g-banner .banner-slide {
  position: absolute;
  display: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center 0;
}

.g-banner .click-help {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: default;
}

.g-banner .inner {
  position: relative;
  width: 1200px;
  margin: 0 auto;
}

.g-banner .banner-tit {
  display: none;
}

.g-banner .banner-slide .more {
  position: absolute;
  right: 80px;
  top: 360px;
  height: 14px;
  line-height: 14px;
  padding-left: 21px;
  font-weight: bold;
  background: url(../assets/images/banner_sprite.png) no-repeat -120px 0;
}

.g-banner .banner-slide .more:hover {
  color: #14191e;
  opacity: 0.75;
  filter: alpha(opacity=75);
}

.g-banner .banner-dots {
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
  text-align: center;
}

.g-banner .banner-dots span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #e3daef;
  transition: transform .2s;
  cursor: pointer;
}

.g-banner .banner-dots span:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
}

.g-banner .banner-dots span.active {
  background-color: #fff;
  transform: scale(1.1);
}

.g-banner .banner-anchor {
  position: absolute;
  top: 50%;
  margin-top: -50px;
  width: 80px;
  height: 100px;
  opacity: 0;
  text-indent: -190em;
  background-image: url(../assets/images/banner_sprite.png);
  background-repeat: no-repeat;
  transition: transform 0.6s, opacity 0.6s;
}

.g-banner .prev {
  left: 0;
  transform: translateX(-100%);
  background-position: 0 -41px;
}

.g-banner .next {
  right: 0;
  transform: translateX(100%);
  background-position: 0 -142px;
}

.g-banner .prev:hover,
.g-banner .next:hover {
  opacity: 1;
}

.g-banner .prev:hover {
  background-position: -81px -41px;
}

.g-banner .next:hover {
  background-position: -81px -142px;
}

.g-banner:hover .banner-anchor {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
}

/*分页部分*/
.page {
  text-align: center;
  overflow: hidden;
  float: left
}

.page li {
  float: left;
}

.page li:nth-last-child(2) a {
  border-right: 1px solid #EDEDED;
}

.page li.first-page a, .page li.last-page a {
  border: 1px solid #EDEDED;
}

.page a {
  padding: 8px 13px;
  display: block;
  border: 1px solid #EDEDED;
  font: 14px "microsoft yahei";
}

.page a:hover {
  text-decoration: none;
  background: #FF4400;
  color: #fff;
  border: 1px solid #FF4400;
}

.page a img {
  padding: 0px 5px;
  vertical-align: 1px
}

.page-dot {
  border: 0;
  text-align: center;
  width: 25px;
  padding: 0px 3px;
  position: relative;
  top: 5px;
}

.topage {
  line-height: 37px;
  padding-left: 10px;
  float: left;
  color: #999999;
  font-size: 13px;
  font-family: simsun
}

.topage input {
  width: 33px;
  height: 18px;
  border: 1px solid #EDEDED;
  margin: 0px 4px;
  padding-left: 5px;
}

.topage button {
  border: 1px solid #EDEDED;
  background: #fff;
  width: 42px;
  height: 21px;
  border-radius: 2px;
  color: #404040;
  font-family: simsun
}

.fenye {
  width: 603px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 25px;
  clear: both;
}

.topage-span {
  position: relative;
}

.topage img.up {
  position: absolute;
  top: -2px;
  right: 0;
  cursor: pointer;
}

.topage img.down {
  position: absolute;
  bottom: -3px;
  right: 0;
  cursor: pointer;
}

footer {
  height: 220px;
  font: 15px "microsoft yahei";
  color: #7c7c7c;
  line-height: 27px;
  background: #F5F5F5
}

.footer-txt {
  padding: 50px 0px 30px 0px;
}

footer ul {
  width: 368px;
  margin: 0 auto;
  display: block;
}

footer li {
  float: left;
  padding: 0px 5px;
  text-align: center;
}

footer ul a {
  color: #7c7c7c;
}

/*头尾css结束*/

/*注册 页面*/
.registe {
  font-family: Simhei;
  padding: 50px 0px 150px;
}

.registe .div-c {
  width: 1129px;
  height: 444px;
  background: url(../assets/images/reg-bg.png) no-repeat;
  background-position: right bottom;
  background-size: 550px auto
}

.registe-tit {
  font-size: 32px;
  padding-left: 48px;
  color: #0263C6;
  font-weight: bold;
  line-height: 80px;
}

.registe-div {
  height: 40px;
  line-height: 40px;
  clear: both;
  padding: 7px 0px;
}

.registe-div .registe-l {
  font-size: 16px;
  float: left;
  width: 115px;
  padding-right: 30px;
  text-align: right;
}

.registe-div .registe-r {
  float: left;
}

.registe-div .registe-r input {
  padding-left: 10px;
  width: 260px;
  border: 1px solid #C1C1C1;
  height: 40px;
}

.reg-modify input {
  width: 160px !important;
}

.reg-modify button {
  width: 93px;
  height: 42px;
  border-radius: 2px;
  background: #5E97D8;
  color: #fff;
}

.reg-ensure input {
  margin-left: 135px;
  width: 15px;
  height: 15px;
  vertical-align: -3px
}

.reg-btn {
  width: 340px;
  height: 40px;
  border-radius: 4px;
  background: #5E97D8;
  color: #fff;
  font-size: 18px;
  margin-left: 67px;
  margin-top: 10px;
}

.registe-l {
  position: relative;
}

.arrow-reg {
  position: absolute;
  top: 16px;
  right: 9px;
}

/*邮件发送成功弹框*/
.send-email-box {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}

.box-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}

.send-email-success {
  position: relative;
  width: 390px;
  height: 242px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  top: 50%;
  margin-top: -120px;
  padding: 40px 80px 40px 50px;
}

.email-box-txt1 {
  font-size: 24px;
  color: #ff4400;
  line-height: 52px;
}

.email-box-txt2 {
  font-size: 18px;
  color: #7b7b7b;
  line-height: 26px;
}

.send-email-success button {
  width: 347px;
  height: 44px;
  background: #5E97D8;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  line-height: 44px;
  margin: 0 auto;
  display: block;
  margin-top: 70px
}

.close-box {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.send-protocal {
  position: relative;
  width: 760px;
  height: 616px;
  background: #fff;
  margin: 0 auto;
  position: relative;
  top: 50%;
  margin-top: -348px;
  padding: 40px 80px 40px 50px;
}

.send-protocal p {
  color: #7b7b7b;
  line-height: 20px;
}

/*邮件发送成功弹框结束*/

/*登陆页面*/
.container {
  width: 964px;
  margin: 0 auto;
}

.login-bg {
  width: 100%;
  height: 670px;
  background: url(../assets/images/login-bg.png) no-repeat 0 0;
  background-size: cover;
}

.login-bg2 {
  background: url(../assets/images/login-bg2.png) no-repeat 0 0;
  background-size: cover;
}

.login_container {
  position: relative;
}

.login_wrap {
  width: 253px;
  height: 360px;
  background: url(../assets/images/login_form_bg.png) no-repeat 0 0;
  top: 120px;
  right: 0;
  position: absolute;
  padding: 87px 30px 30px 30px;
}

.login_wrap .login_item {
  position: relative;
  height: 44px;
  padding: 5px;
  width: 233px;
  background: url(../assets/images/login_txt.png) no-repeat 0 0;
  margin: 0 auto 8px;
}

.login_item input {
  height: 44px;
  width: 188px;
  padding-left: 45px;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0);
}

.login_item img {
  position: absolute;
  left: 19px;
  top: 17px;
}

.login_item2 {
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  line-height: 40px;
  padding-bottom: 12px
}

.login_item2 a {
  color: #fff;
}

.login-btn {
  clear: both;
  width: 233px;
  height: 40px;
  border-radius: 4px;
  background: #277ECC;
  color: #fff;
  font-size: 18px;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 12px;
}

.login-btn2 {
  background: #B64A2C
}

.login_item2 input {
  vertical-align: -2px;
  margin: 0px 2px;
}

.li-now a {
  color: #A4A5A6
}

/*应用页面开始*/
.apply {
  overflow: hidden;
  padding-left: 52.5px;
}

.apply1 img {
  width: 100%;
  height: 295px;
}

.apply2 {
  height: 44px;
  background: #E4E6E6;
  line-height: 44px;
}

.apply2 .fl {
  padding-left: 15px;
}

.apply2 input {
  height: 32px;
  margin-top: 6px;
  background: #CCCCCC;
  margin-right: 10px;
  padding-left: 5px;
}

.apply2 button {
  width: 77px;
  height: 28px;
  background: #0261C4;
  border-radius: 8px;
  color: #fff;
  margin-right: 14px;
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
}

.apply2 .fr {
  position: relative;
  margin-right: 7px;
}

.apply2 .search {
  position: absolute;
  right: 14px;
  top: 10px;
}

/*.apply3{width:700px; } */
.apply3-list {
  width: 211px;
  margin: 20px 6px 0px 13px;
  float: left;
}

.apply-list-tit {
  font: 14px "microsoft yahei";
  line-height: 27px;
  padding-left: 7px;
}

.apply-list-tit a {
  color: #0065D0;
}

.apply-list-con {
  clear: both;
  padding: 0px 7px;
  font: 14px "microsoft yahei";
  color: #414141
}

.apply-list-tip {
  padding: 4px 0px;
}

.apply .star img {
  width: 15px;
  height: 15px;
}

.apply .style img {
  width: 12px;
}

.apply-list-download {
  clear: both;
  padding: 5px 0px;
}

.apply-list-download button {
  width: 55px;
  height: 22px;
  text-align: left;
  border: 1px solid #E6E6E6;
  border-radius: 2px;
  background: #fff;
  padding-left: 4px;
  font-family: "microsoft yahei"
}

.apply3-left {
  width: 675px;
  float: left;
  margin-right: 25px;
}

.apply3-right {
  float: left;
  width: 264px;
  margin-top: 21px
}

.rank-tit div {
  width: 50%;
  color: #636363;
  text-align: center;
  float: left;
  height: 40px;
  background: #E4E6E5;
  line-height: 40px;
  font-style: 16px;
  cursor: pointer;
}

.rank-tit div:first-child {
  border-top-left-radius: 4px;
  background: #FF9348;
  color: #fff;
}

.rank-tit div:last-child {
  border-top-right-radius: 4px;
}

.rank-list {
  clear: both;
  padding: 10px 12px;
  background: #fff;
  border: 1px solid #F1F2F2;
  border-top: 0;
  overflow: hidden;
}

.rank-list .rank-list-left {
  width: 63px;
  padding-right: 5px;
}

.rank-list .rank-list-center {
  width: 100px;
}

.rank-list .rank-list-right {
  width: 70px;
  float: right;
  text-align: right;
  line-height: 44px;
}

.rank-list .rank-list-left img {
  width: 60px;
  height: 44px;
  border-right: 10px;
}

.rank-tims {
  clear: both;
  font-size: 12px;
}

.rank-num {
  color: #89AE00;
  font-weight: bold;
  font-size: 26px;
  position: relative;
  top: -7px;
}

.rank-name {
  font-size: 16px;
  font-weight: bold;
  color: #696969
}

.rank-list-right img {
  height: 17px;
}

/*忘记密码页面开始*/
.registe-con {
  width: 426px;
}

.reset-paw-or {
  line-height: 84px;
  font-size: 26px;
  font-weight: bold;
  color: #0263C6
}

/*忘记密码页面结束*/

/*apply-search.html页面开始*/
.apply-search {
  overflow: hidden;
}

.apply-search .apply3-list {
  margin-right: 25px;
  margin-left: 0;
}

.apply-search .apply3-list:nth-child(5n) {
  margin-right: 0;
}

.apply-search .apply-img {
  width: 218px;
  height: 220px;
}

.apply-search-top {
  padding-bottom: 30px;
  overflow: hidden;
  padding-left: 18px;
  border-left: 1px solid #E4E4E4;
  border-right: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  border-radius: 4px;
}

.apply-search-bottom .apply3-lb-con {
  border: 0;
}

.apply-search-bottom .apply3-lb-tit {
  padding-top: 20px;
}

.apply-search-bottom .apply3-lb-tit .fl {
  font-size: 22px;
  line-height: 40px color : #2F2E2E;
  font-weight: bold;
}

.search-info {
  padding: 25px 0px 25px 10px;
  clear: both;
}

.search-info .blue-txt {
  color: #2087fc;
  font-size: 30px;
  padding-right: 8px;
}

.search-info .gray-txt {
  color: #696969;
  font-size: 18px;
}

.search-info .red-txt {
  color: #ff4400;
  font-size: 18px;
}

.search-info img {
  vertical-align: -8px;
}

.rank-tit div {
  width: 50%;
  color: #636363;
  text-align: center;
  float: left;
  height: 40px;
  background: #E4E6E5;
  line-height: 40px;
  font-style: 16px;
  cursor: pointer;
}

.rank-tit div:first-child {
  border-top-left-radius: 4px;
  background: #FF9348;
  color: #fff;
}

.rank-tit div:last-child {
  border-top-right-radius: 4px;
}

.rank-list {
  clear: both;
  padding: 10px 12px;
  background: #fff;
  border: 1px solid #F1F2F2;
  border-top: 0;
  overflow: hidden;
}

.rank-list .rank-list-left {
  width: 63px;
  padding-right: 5px;
}

.rank-list .rank-list-center {
  width: 100px;
}

.rank-list .rank-list-right {
  width: 70px;
  float: right;
  text-align: right;
  line-height: 44px;
}

.rank-list .rank-list-left img {
  width: 60px;
  height: 44px;
  border-right: 10px;
}

.rank-tims {
  clear: both;
  font-size: 12px;
}

.rank-num {
  color: #89AE00;
  font-weight: bold;
  font-size: 26px;
  position: relative;
  top: -7px;
}

.rank-name {
  font-size: 16px;
  font-weight: bold;
  color: #696969
}

.rank-list-right img {
  height: 17px;
}

.apply3-lb-tit {
  line-height: 35px;
  clear: both;
}

.apply3-lb-tit .fl {
  font-size: 16px;
}

.apply3-lb-tit .fr a {
  color: #89AE00;
  font-size: 14px;
  padding-right: 40px;
}

.apply3-lb-con {
  width: 670px;
  clear: both;
  border: 1px solid #EAEAEA;
  overflow: hidden;
  margin-bottom: 40px;
}

.apply3-list-new {
  width: 104px;
  margin: 15px 15px 0px 15px;
  float: left;
}

.apply3-new-img {
  width: 100%;
}

.apply3-new-img img {
  border-radius: 12px;
  width: 100%;
}

.apply3-new-txt1 {
  font-size: 14px;
  line-height: 22px;
  font-family: "microsoft yahei";
  padding-top: 5px;
}

.apply3-new-txt2 {
  font-size: 12px;
  font-family: "microsoft yahei"
}

.apply3-new-style img {
  width: 20px;
  height: 20px;
  padding: 10px 0px;
}

.rank-con2 {
  position: relative;
  border: 1px solid #D8D8D8;
  width: 264px;
  height: 142px;
  margin-top: 15px
}

.rank-con2 img {
  width: 100%;
  height: 100%;
}

.rank-con2 button {
  width: 123px;
  height: 26px;
  color: #fff;
  background: #00A1E9;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  bottom: 15px;
  left: 25px
}

.rank-con2 a {
  display: block;
}

.rank-con3 {
  position: relative;
  margin-top: 15px;
}

.rank-con3 input {
  width: 264px;
  height: 54px;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  visibility: none \0;
}

.rank-con3 button {
  width: 264px;
  height: 54px;
  line-height: 54px;
  background: #999999;
  opacity: 0.9;
  border-radius: 6px;
  font-size: 19px;
  color: #fff;
  letter-spacing: 2px
}

.rank-con3 button img {
  padding: 0px 5px;
  vertical-align: -1px;
}

/*apply-content页面开始*/
.apply-content {
  overflow: hidden;
  background: #F9F9F9;
}

.apply-content1 {
  padding-top: 50px;
  padding-bottom: 12px;
  overflow: hidden;
  position: relative;
}

.apply-content1-l {
  padding-right: 15px;
}

.apply-content1-l img {
  width: 115px;
  height: 115px;
  border-radius: 8px;
}

.apply-content1-c .company-name {
  font: 12px/24px microsoft yahei;
  color: #ACACAC;
}

.apply-content1-c .company-topic {
  font: 28px/40px microsoft yahei;
  color: #2F2E2E;
  font-weight: 900;
}

.apply-content1-c .company-style {
  font-size: 14px;
  line-height: 28px;
}

.apply-content1-c .company-style img {
  height: 16px;
  margin: 0 4px;
}

.apply-content1-c .company-star img {
  float: left;
  padding-right: 2px
}

.apply-content1-r button {
  width: 98px;
  height: 36px;
  color: #fff;
  border-radius: 2px;
  background: #5C95D6;
  font-size: 18px;
  margin: 75px 0px 0px 40px;
}

.apply-content1-r button a {
  display: block;
}

.apply-content1-p {
  position: absolute;
  bottom: 10px;
  right: 0;
  font-family: microsoft yahei;
}

.apply-content1-p a {
  color: #707070;
  font-size: 12px;
  padding-right: 4px;
}

.apply-content2 {
  clear: both;
}

.apply-content-tit {
  font-size: 22px;
  line-height: 50px;
  font-weight: bold;
}

.apply-content2-con {
  border: 1px solid #E3E3E3;
  border-radius: 2px;
  background: #fff;
  padding: 40px 0px;
}

.apply-content3 {
  padding-top: 20px
}

.apply-content3-con p {
  color: #7b7b7b;
  margin-bottom: 20px;
  line-height: 20px;
}

.apply-content .apply3-list-new:first-child {
  margin-left: 0;
}

.star-part {
  width: 95px;
  height: 19px;
  position: relative;
}

.star-part .star-on {
  display: block;
  height: 19px;
  background: url(../assets/images/star-on.png) repeat-x;
  background-size: 19px 19px;
  position: relative;
  z-index: 3;
}

.star-part .star-off {
  display: block;
  width: 95px;
  height: 19px;
  background: url(../assets/images/star-off.png) repeat-x;
  background-size: 19px 19px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

/*配置参数开始*/
.config {
  border-bottom: 0;
}

.config1 {
  clear: both;
  font-family: "microsoft yahei";
  overflow: hidden;
}

.config1-l {
  width: 703px;
  margin-right: 30px;
  float: left;
}

.config-img-big img {
  width: 703px;
  height: 383px;
}

.config-img-little img {
  width: 133px;
  height: 92px;
  float: left;
  margin: 5px 3px 0px 0;
}

.config1-r {
  float: left;
  width: 467px;
}

.config1-info {
  clear: both;
}

.config1-tip {
  font-family: simhei;
  color: #ff4400;
  font-size: 14px;
  clear: both;
  height: 30px;
  line-height: 30px;
}

.config1-tip img {
  width: 15px;
}

.config1-con {
  clear: both;
  line-height: 25px;
  font-size: 13px;
  color: #919191;
  margin-bottom: 10px;
}

.config1-info .config1-info-list {
  float: left;
  font-size: 14px;
  margin-right: 35px;
  line-height: 35px;
}

.config1-info {
  clear: both;
}

.config1-info-left {
  color: #696969;
  float: left;
}

.config1-info-right {
  color: #919191;
  float: left
}

.config1-info button {
  width: 180px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-radius: 2px;
  background: #FF4400;
  font-family: "microsoft yahei";
  font-size: 16px
}

.config1-info .config-code {
  width: 83px;
  height: 83px;
  margin-top: 15px;
}

.config2 {
  margin-top: 40px;
  overflow: hidden;
}

.config2-l {
  float: left;
  width: 943px;
}

.config2-r {
  float: left;
  margin-left: 10px;
  width: 245px;
}

.config2-r a {
  display: block;
  margin-bottom: 15px;
}

.config2-r img {
  width: 243px;
  border: 1px solid #D8D8D8;
}

.config2-l-tab {
  height: 40px;
  line-height: 40px;
  background: #F5F5F5;
  text-align: center;
}

.config2-l-tab li {
  float: left;
  width: 88px;
  background: #F5F5F5;
  color: #7C7C7C;
}

.config2-l {
  border: 1px solid #E8E8E8;
}

.config2-li-now {
  background: #fff !important;
  border-left: 1px solid #E8E8E8;
  border-right: 1px solid #E8E8E8;
}

.config2-li-now a {
  color: #FF4400;
}

.config2-l-tab a:hover {
  text-decoration: none;
}

.config2-l-con {
  border-top: 1px solid #E8E8E8;
  padding-bottom: 200px;
  margin-bottom: 20px;
}

.config2-l-table ul li {
  float: left;
}

.config2-l-table ul .li1 {
  width: 147px;
}

.config2-l-table ul .li2 {
  width: 134px;
}

.config2-l-table ul .li3 {
  width: 82px;
}

.config2-l-table ul .li4 {
  width: 100px;
}

.config2-l-table ul .li5 {
  width: 85px;
}

.config2-l-table ul .li6 {
  width: 92px;
}

.config2-l-table ul .li7 {
  width: 92px;
}

.config2-l-table ul .li8 {
  width: 70px;
}

.config2-l-table ul .li9 {
  width: 85px;
}

.config2-l-table {
  border: 1px solid #000;
  overflow: hidden;
  margin-left: 18px;
}

.config2-l-table ul {
  height: 37px;
  line-height: 35px;
}

.config2-l-table ul li {
  border: 1px solid #000;
}

.config2-l-table {
  width: 905px;
  text-align: center;
  color: #1F1F1F
}

.config2-l-table ul:nth-child(even) {
  background: #E5E5E5;
}

.config2-l-table ul:nth-child(odd) {
  background: #FEFEFE;
}

.table-head {
  background: #FF4400 !important;
}

.table-head li {
  font-size: 14px;
  font-weight: bold;
  color: #000 !important
}

.config2-l-tit {
  line-height: 60px;
  font-size: 22px;
  color: #2f2e2e;
  margin-left: 18px;
  padding-top: 10px;
}

.con-img {
  width: 412px;
  height: 224px;
}

.config2-l-con p {
  padding-left: 18px;
  font-size: 13px;
  color: #7b7b7b;
  line-height: 22px;
  margin-bottom: 15px;
}

.config2-l-con img {
  padding: 15px 0;
}

/*配置参数结束*/

/*首页*/
.index2 {
  font-family: "microsoft yahei";
  overflow: hidden;
}

.index2 .config2-l {
  position: relative;
}

.more-btn a {
  display: block;
  border: 1px solid #EEEEEE;
  padding: 1px 2px;
  margin-top: 5px;
}

.more-btn a:hover {
  text-decoration: none;
}

.search-a a {
  line-height: 30px;
  margin-right: 5px;
  font-size: 13px;
  color: #878787
}

.font-red {
  color: #FF2525 !important
}

.index2 .fenye {
  padding: 0;
  position: absolute;
  right: -30px;
  top: 2px;
}

.index2 .fenye li a {
  border: 1px solid #F5F5F5;
  background: #fff
}

.index2 .fenye li a:hover {
  background: #FF4400
}

.index2 .fenye .last-page, .index2 .fenye .first-page {
  line-height: 37px;
  padding: 0 5px;
}

.index2 .fenye a:hover {
  text-decoration: none;
}

.fenye img {
  padding: 0 5px;
  vertical-align: 1px
}

.config2-l-tab {
  font-family: "microsoft yahei";
}

.fenye a {
  font-family: "microsoft yahei";
}

.index2-branch {
  overflow: hidden;
}

.index2-branch li {
  float: left;
}

.index2-branch li:not(:last-child) a {
  border-right: 2px solid #7C7C7C;
}

.index2-branch li a {
  line-height: 37px;
  padding: 0px 10px;
  font-size: 13px;
}

.index2-branch li a:hover {
  text-decoration: none;
  color: #FF4400;
}

.index-pro-list {
  padding: 20px;
  clear: both;
  border-top: 1px solid #E5E5E5;
  overflow: hidden;
}

.index-list-info1 {
  float: left;
  width: 82px;
  margin-right: 20px;
}

.index-list-info2 {
  float: left;
  width: 330px;
}

.index-list-info3 {
  float: left;
  width: 383px;
  text-align: center;
  line-height: 85px;
}

.index-list-info4 {
  float: left;
  text-align: center;
}

.index-list-info1 img {
  width: 82px;
  height: 85px;
}

.index-pro-list .apply-list-con {
  font-size: 13px;
}

.index-pro-list .apply-list-tit {
  line-height: 21px;
  font-weight: bold;
}

.index-pro-list .index-style img {
  width: 16px;
  height: 16px;
}

.index-pro-list .star-score {
  padding-left: 20px;
}

.index-list-info4 button {
  font-family: "microsoft yahei";
  margin-top: 31.5px;
  width: 57px;
  height: 22px;
  line-height: 22px;
  color: #fff;
  background: #FF4400;
  border-radius: 4px;
}

.index2 {
  margin-bottom: 20px;
  margin-top: 20px;
  clear: both;
}

.index3 .config2-l-tab {
  border: 1px solid #EAEAEA;
}

.apply-list-tit .style img {
  width: 15px;
}

.check-div {
  width: 243px;
  border: 1px solid #D8D8D8;
  margin-bottom: 8px;
}

.check-div-tit {
  background: #F9F9F9;
  height: 40px;
  line-height: 40px;
  padding-left: 17px;
  border-bottom: 1px solid #D8D8D8;
}

.check-div-con {
  padding: 10px 0 130px 17px;
}

.check-div-con li {
  height: 30px;
  line-height: 30px;
}

.check-div-con li input {
  margin-right: 10px;
  vertical-align: -2px;
  width: 14px;
  height: 14px;
}

.index1 {
  overflow: hidden;
}

.index1-img {
  float: left;
}

.index1-img img {
  width: 795px;
  height: 397px;
}

.index1-txt {
  padding: 30px;
  float: left;
  background: #000;
  width: 345px;
  height: 337px;
}

.index1-txt button {
  width: 125px;
  height: 28px;
  color: #fff;
  font-size: 17px;
  background: #FF5C00;
  margin: 10px 0;
}

.index1-tit {
  font-size: 34px;
  color: #fff;
  line-height: 65px;
  margin-bottom: 5px;
}

.index1-con {
  line-height: 27px;
  color: #fff;
  font-size: 14px;
  font-family: simsun;
}

.index1-more a {
  color: #FF5C00;
  font-size: 14px;
  line-height: 40px;
  font-family: simsun;
}

.index-header {
  border-bottom: 0;
}

.img-title {
  clear: both;
  height: 38px;
  line-height: 38px;
  border: 1px solid #E9E9E9;
  border-top: 0;
}

.img-title li {
  width: 188px;
  float: left;
  border-right: 1px solid #E9E9E9;
  padding-left: 10px;
  font-size: 16px;
  cursor: pointer;
}

.img-title li:last-child {
  border-right: 0;
}

.img-title-now {
  border-top: 3px solid #FF4400;
  position: relative;
}

.img-title-now img {
  position: absolute;
  top: -13px;
  left: 91px;
}
