<!-- 主体页面开始 -->
<div class="main registe">

  <div class="div-c">
    <div class="registe-tit">注册</div>
    <form name="myForm" ng-submit="viewState.register(myForm)" novalidate>
      <div class="registe-con" ng-init="vm.activeTab=1">
        <div ng-if="vm.activeTab == 1">
        <div class="registe-div">
          <div class="registe-l on">
          电子邮箱
            <a href="javascript:void(0)" ng-click="vm.activeTab = 2"><img src="assets/images/down-arrow.png" alt="" class="arrow-reg"></a>
            <!--<ul class="register_sel">-->
              <!--<li>手机号</li>-->
              <!--<li>电子邮箱</li>-->
            <!--</ul>-->
          </div>
          <div class="registe-r"><input type="text" placeholder="请输入您的常用邮箱" name="email" ng-model="data.email"
                                        ng-pattern="/^(\w-*\.*)+@(\w-?)+(\.\w{2,})+$/" required></div>
        </div>
        <div class="registe-div" style="margin-left: 142px;" ng-show="myForm.$submitted==true && myForm.email.$invalid">
          <span ng-style="{'color':'red'}"
                ng-show="myForm.email.$error.required && myForm.$submitted==true">邮箱不能为空</span>
          <span ng-style="{'color':'red'}"
                ng-show="myForm.email.$error.pattern && myForm.$submitted==true">邮箱格式错误</span>
        </div>
        <div class="registe-div">
          <div class="registe-l">昵称</div>
          <div class="registe-r"><input type="text" placeholder="个性名称" name="nickname" ng-model="data.nickname" required>
          </div>
        </div>
        <div class="registe-div" style="margin-left: 142px;"
             ng-show="myForm.$submitted==true && myForm.nickname.$invalid">
          <span ng-style="{'color':'red'}"
                ng-show="myForm.nickname.$error.required && myForm.$submitted==true">昵称不能为空</span>
        </div>
        <div class="registe-div">
          <div class="registe-l">密码</div>
          <div class="registe-r"><input type="password" placeholder="字母数字组成" name="password" ng-model="data.password"
                                        required></div>
        </div>
        <div class="registe-div" style="margin-left: 142px;"
             ng-show="myForm.$submitted==true && myForm.password.$invalid">
          <span ng-style="{'color':'red'}"
                ng-show="myForm.password.$error.required && myForm.$submitted==true">密码不能为空</span>
        </div>
        </div>
        <div ng-if="vm.activeTab == 2">
          <div class="registe-div">
          <div class="registe-l">手机号<a href="javascript:void(0)" ng-click="vm.activeTab = 1"><img src="assets/images/down-arrow.png" alt="" class="arrow-reg"></a></div>
          <div class="registe-r"><input type="text" placeholder="您的手机号码" name="mobile" ng-model="data.mobile"
          ng-pattern="/^(1[345789][\d])[0-9]{8}$/" required></div>
          </div>
          <div class="registe-div" style="margin-left: 142px;"
          ng-show="myForm.$submitted==true && myForm.mobile.$invalid">
          <span ng-style="{'color':'red'}"
          ng-show="myForm.mobile.$error.required && myForm.$submitted==true">手机号码不能为空</span>
          <span ng-style="{'color':'red'}"
          ng-show="myForm.mobile.$error.pattern && myForm.$submitted==true">手机号码格式错误</span>
          </div>
          <div class="registe-div">
            <div class="registe-l">昵称</div>
            <div class="registe-r"><input type="text" placeholder="个性名称" name="nickname" ng-model="data.nickname" required>
            </div>
          </div>
          <div class="registe-div" style="margin-left: 142px;"
               ng-show="myForm.$submitted==true && myForm.nickname.$invalid">
          <span ng-style="{'color':'red'}"
                ng-show="myForm.nickname.$error.required && myForm.$submitted==true">昵称不能为空</span>
          </div>
          <div class="registe-div">
            <div class="registe-l">密码</div>
            <div class="registe-r"><input type="password" placeholder="字母数字组成" name="password" ng-model="data.password"
                                          required></div>
          </div>
          <div class="registe-div" style="margin-left: 142px;"
               ng-show="myForm.$submitted==true && myForm.password.$invalid">
          <span ng-style="{'color':'red'}"
                ng-show="myForm.password.$error.required && myForm.$submitted==true">密码不能为空</span>
          </div>
          <div class="registe-div reg-modify">
          <div class="registe-l">验证码</div>
          <div class="registe-r">
          <input type="text" placeholder="输入接受到的验证码" name="code" ng-model="data.code" required>
          <button type="button" ng-disabled="isAbled" ng-click="viewState.getYzm()">{{yzm}}</button>

          </div>
          </div>
          <div class="registe-div" style="margin-left: 142px;" ng-show="myForm.$submitted==true && myForm.code.$invalid">
          <span ng-style="{'color':'red'}"
          ng-show="myForm.code.$error.required && myForm.$submitted==true">验证码不能为空</span>
          </div>
        </div>

        <div class="registe-div reg-ensure">
          <input type="checkbox" name="is_active" ng-checked="vm.is_active" ng-init="vm.is_active = true"
                 ng-model="vm.is_active" required> <a href="javascript:void(0)" ng-click="vm.isDisplay = true">同意注册VRSEEN服务条款</a>
        </div>
        <div class="registe-div" style="margin-left: 142px;"
             ng-show="myForm.$submitted==true && myForm.is_active.$invalid">
          <span ng-style="{'color':'red'}"
                ng-show="myForm.is_active.$error.required && myForm.$submitted==true">注册需同意服务条款</span>
        </div>
        <button class="reg-btn" type="submit"><a href="javascript:void(0)">注册会员</a></button>
      </div>
    </form>
  </div>
</div>
<!-- 主体页面结束 -->




<!-- 服务协议弹框 -->
<div class="send-email-box" ng-show="vm.isDisplay == true">
  <div class="box-bg"></div>
  <div class="send-protocal">
    <div class="email-box-txt1">邮件发送成功</div>

    <p>第一条：协议的确认和接受</p><br/>
    <p>
      1.1    本站的各项电子服务的所有权和运作权归岱博贸易所有。岱博贸易同意根据本协议条款及其不时发布在本站上的各类操作规则（下称“规则”）为用户提供与本站相关的各项服务（下称“服务”）。所有规则为本协议不可分割的组成部分，与本协议具有同等法律效力。
    </p><br/>
    <p>
      1.2    用户在注册过程中点击“同意协议提交”按钮即表示用户已充分阅读、理解并接受本协议中的全部条款，本协议即构成对双方具有约束力的法律文件。用户同意本协议全部条款并完成全部注册程序，才能成为本站的正式用户。用户注册成功后，岱博贸易将为每位注册用户提供一用户帐号及相应的密码，该用户帐号和密码由用户全权负责保管；用户对以其用户帐号从事的所有活动承担法律责任。
    </p><br/>
    <p>
      1.3    用户确认其本人系具备完全民事权利能力和民事行为能力的自然人（如果您是18周岁以下的未成年人，在使用本站前您须获得您的父母或监护人的同意），或依法成立、存续和经营的法人或其他组织。用户违反本项条件，本站保留随时、单方面拒绝提供服务，取消订单或关闭用户账户的权利；若因此给本站或第三方造成损失，用户承担全部赔偿责任。
    </p><br/>
    <p>
      1.4    岱博贸易保留在中华人民共和国法律允许的范围内独自决定拒绝服务、关闭用户账户、清除或编辑内容或取消订单的权利。
    </p><br/>
    <p>
      第二条：协议的修改和补充
    </p><br/>
    <p>
      2.1    岱博贸易有权随时修改本协议的任何条款而无须另行通知用户。一旦本协议的内容发生变动，岱博贸易将会直接在本站上公布修改之后的协议内容，该等修改一经公布立即生效且自动代替原注册服务协议。
    </p><br/>
    <p>
      2.2    用户可随时通过本站浏览最新的注册服务协议。用户如果不同意岱博贸易对本协议相关条款所做的修改，用户有权停止使用服务。如果用户继续使用服务，则视为用户接受岱博贸易对本协议相关条款所做的修改。
    </p><br/>
    <p>
      2.3    岱博贸易将针对某些特定的服务制定并在本网站上公布与该服务相关的特定规则或协议。该等特定规则或协议构成对本协议的补充。用户在使用该等特定服务时应遵守本协议及岱博贸易制定并公布的相关特定规则或协议。若该等特定规则或协议与本协议条款有不一致的地方，用户在使用此类特定服务时，以该等特定规则或协议为准。
    </p>

    <img src="assets/images/delete.png" alt="" class="close-box" ng-click="vm.isDisplay = false">
  </div>
</div>
<!-- 服务协议弹框 -->

<!-- 发送邮件成功弹框 -->
<div class="send-email-box" ng-show="send_success">
  <div class="box-bg"></div>
  <div class="send-email-success">
    <div class="email-box-txt1">邮件发送成功</div>
    <div class="email-box-txt2">有一封激活邮件已经发送到您的注册邮箱，请进入邮箱后激活！</div>
    <button><a href="javascript:void(0);">前往注册邮箱激活</a></button>
    <img src="assets/images/delete.png" alt="" class="close-box" ng-click="send_success = false">
  </div>
</div>
<!-- 发送邮件成功弹框 -->

